.goalOverflow {
    height: 600px;
    overflow-y:scroll;
}

#myGoals {
    width: 100%; 
    height: 30%; 
    background-color: #337ab7;
    text-align: center; 
    color: white;
    vertical-align: middle; 
    line-height: 150px;
}