#personalinfo, #expenses, #results {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #fff;
	    font-family: 'Maven Pro', sans-serif;

}
.range-slider {
    /*position: relative;*/
    height: 10px;
}
#app {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
	background:#ededed;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
}

.btn-sample:active {
  color: blue; 
}

i {
	width:10px;
}

.expensesInput {
	width: 90%;
	 margin: 0 auto;
}

.glyphicon-question-sign {
	color: #fff;
	font-size: 20px;
}

.box-shadow--6dp {
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}

.highcharts-series-group {
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}
.btn{
	border-radius:0;
}
/*.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: 0;
}*/
.panel-title, .panel-heading{
  background: #337ab7 !important;
  color:white !important;
  font-weight:bold !important;
  /*margin:0 !important;*/
  padding:6px !important;

  }