#personalinfo, #navbarHeader, #expenses1, #results{
    animation: fadein .5s;
    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -o-animation: fadein .5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
#personalinfo, #expenses, #results {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #fff;
	    font-family: 'Maven Pro', sans-serif;

}
.range-slider {
    /*position: relative;*/
    height: 10px;
}
#app {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
	background:#ededed;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
}

.btn-sample:active {
  color: #337ab7; 
}

i {
	width:10px;
}

.expensesInput {
	width: 90%;
	 margin: 0 auto;
}

.glyphicon-question-sign {
	color: #fff;
	font-size: 20px;
}

.box-shadow--6dp {
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}

.highcharts-series-group {
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 6px 9px rgba(0, 0, 0, 0.2);
}
.btn{
	border-radius:0;
}
/*.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: 0;
}*/
.panel-title, .panel-heading{
  background: #337ab7 !important;
  color:white !important;
  font-weight:bold !important;
  /*margin:0 !important;*/
  padding: 1.2vmin !important;

  }

.adding {
	color: #3c763d;
}

.decreasing {
	color: #a94442;
}
.container{
	width:100vw !important;
}
@media screen and (min-width: 700px) {
  .container {
width:85vw !important;  }
}
@media screen and (min-width: 1200px) {
  .container {
width:60vw !important;  }
}

#personalinfo{
	width:100vw !important;
}
@media screen and (min-width: 700px) {
#personalinfo {
width:85vw !important;  }
}
@media screen and (min-width: 1200px) {
#personalinfo {
width:60vw !important;  }
}

#results{
	width:100vw !important;
}
@media screen and (min-width: 700px) {
#results {
width:85vw !important;  }
}
@media screen and (min-width: 1200px) {
#results {
width:60vw !important;  }
}
.glyphicon.glyphicon-question-sign {
    font-size: 70%;
	}

.loading-bro {
  margin: 50px auto;
  width: 150px;
}
.loading-bro > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #337ab7;
}

#load {
  width: 150px;
  animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #337ab7;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}
