#personalinfo, #expenses, #results {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#app {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
	background:#ededed;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
}
.btn-sample:active {
  color: blue; 
}
i{
	width:10px;
}

.expensesInput{
	width:90%;
	 margin: 0 auto;
}

.glyphicon-question-sign {
	color: #006dcc;
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.highcharts-series-group {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}